{% extends 'home.html' %}
{% load static %}

{% block title %} 
Acessar
{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form action="" method="POST" class="bg-light p-4 rounded shadow-sm">
                {% csrf_token %}

                <div class="mb-3">
                    <label for="username" class="form-label">Nome de Usuário:</label>
                    <input type="text" name="username" id="username" class="form-control" autocapitalize="none" maxlength="150" placeholder="Nome de Usuário" required autofocus>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Digite sua Senha:</label>
                    <input type="password" name="password" id="password" class="form-control" placeholder="Senha" required>
                </div>

                <button type="submit" class="btn btn-success">Entrar</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}