/* Cor da borda para todos os Formulários */
input.form-control,
input[type='select'],
textarea.form-control {
    border-color: #000000;
}
/* Cor da borda quando o campo está focado */
input.form-control:focus,
textarea.form-control:focus {
    border-color: #000000;
}
input.form-control,
input[type='select'],
select.form-control {
    border-color: #000000;
}
/* Cor da borda quando o campo está focado */
input.form-control:focus,
input[type='select']:focus,
select.form-control:focus {
    border-color: #000000;
}

/* Requerimentos dos inputs nos formularios com '*' */
form label.required::after {
    content: '*';
    color: red;
}

/* Rezise do text-area do formulário de cadastrar contribuidores */
form textarea {
    resize: none;
    height: 200px;
}

/* mensagens de erros dos formularios */
.errors {
    font-weight: bold;
}
.error-var {
    color: red;
}