
/* Mensagem para notificações, !Lembrar de Editar */
.message_prazo,
.message_vencido {
    border-radius: 10px;
    box-shadow: 2px 2px 5px #ddd;
    border: solid 1px #ddd;
    background-color: #fff;
    color: #000;
    width: 40%;
    min-width: 400px;
    margin: 0 auto;
    display: none;
    position: fixed;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9999;
    max-height: 400px;
    overflow-y: scroll;
}
.message_prazo h4,
.message_vencido h4 {
    padding: 20px 0;
    text-align: center;
}
.message_prazo p,
.message_vencido p {
    text-align: start;
    padding-left: 40px;
}
.message_prazo a,
.message_vencido a {
    text-decoration: none;
    color: initial;
}
.message_prazo a:hover,
.message_vencido a:hover {
    text-decoration: underline;
}
.notificacao {
    text-decoration: none;
    font-weight: bold;
    color: #f00;
    text-shadow: 1px 1px 1px #000;
    border: 0;
    background-color: inherit;
}
.notificacao:hover {
    text-decoration: underline;
}

/* Paginação */
.pagination {
    margin-bottom: 20px;
}
.step-links {
    position: relative;
    margin: 0 auto;
}
.step-links .current {
    margin: 0 5px;
}


/* Cor da borda para todos os Formulários */
input.form-control,
select.form-select {
    border-color: #000000;
}

/* Adiciona borda quando focado */
input.form-control:focus,
select.form-select:focus {
    border-color: #000000;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25); /* Efeito de sombra */
}
/* Adiciona borda preta ao campo de observações */
textarea.form-control {
    border-color: #000000;
}

/* Adiciona borda quando o campo está focado */
textarea.form-control:focus {
    border-color: #000000;
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
}

/* Requerimentos dos inputs nos formularios com '*' */
form label.required::after {
    content: '*';
    color: red;
}


/* Rezise do text-area do formulário de cadastrar contribuidores */
form textarea {
    resize: none;
    height: 200px;
}

/* mensagens de erros dos formularios */
.errors {
    font-weight: bold;
}
.error-var {
    color: red;
}

nav a{
    font-weight: bold;
}
/*Header com ondas (home.html)  */

.header {
position: relative;
text-align: center;
background: linear-gradient(60deg, rgba(0, 128, 0, 0.7) 0%, rgba(0, 128, 0, 0.9) 100%);
color: white;
}

.logo {
width:50px;
fill:white;
padding-right:15px;
display:inline-block;
vertical-align: middle;
}
.inner-header {
height:15vh; /*Tamanho do header*/
width:100%;
margin: 0;
padding: 0;
}
.flex { /*Flexbox pro container*/
display: flex;
justify-content: center;
align-items: center;
text-align: center;
}
.waves {
position:relative;
width: 100%;
height:15vh;
margin-bottom:-7px; 
min-height:100px;
max-height:150px;
}
.content {
position:relative;
height:20vh;
text-align:center;
background-color: white;
}
/* Animação das ondas */
.parallax > use {
animation: move-forever 25s cubic-bezier(.55,.5,.45,.5) infinite;
}
.parallax > use:nth-child(1) {
animation-delay: -2s;
animation-duration: 7s;
}
.parallax > use:nth-child(2) {
animation-delay: -3s;
animation-duration: 10s;
}
.parallax > use:nth-child(3) {
animation-delay: -4s;
animation-duration: 13s;
}
.parallax > use:nth-child(4) {
animation-delay: -5s;
animation-duration: 20s;
}
@keyframes move-forever {
0% {
transform: translate3d(-90px,0,0);
}
100% {
transform: translate3d(85px,0,0);
}
}
/* Responsividade pra celular */
@media (max-width: 768px) {
.waves {
height:40px;
min-height:40px;
}
.content {
height:30vh;
}
h1 {
font-size:24px;
}
}
/* Seção dos cards (home) */

.card-section {
    margin-top: 20px;
}
.imagem{
    margin-bottom: 160px;
}


/* Estilo para sublinhado apenas ao passar o mouse nos links da tabela ( list_Controle/Estoque.html etc )*/
.custom-links .specific-link {
    text-decoration: none; 
}
.custom-links .specific-link:hover {
    text-decoration: underline; 
}
/* Cor para os links da tabela talvez verde pra destacar?*/
.custom-links .specific-link{
    color: #000000;
}
#customTableHead th {
    background-color: #198754; 
    color: #fff;
}


/* Animações dos Cards (home.html) */
.card-custom {
transition: transform 0.2s ease-in-out;
cursor: pointer;
}

.card-custom:hover {
transform: scale(1.05); /* Aumenta em 5% ao passar o mouse */
}

.card-custom i {
transition: transform 0.2s ease-in-out;
}

.card-custom:hover i {
transform: scale(1.2); /* Aumenta em 20% ao passar o mouse */
}
