{% extends 'home.html' %}
{% load static %}

{% block title %} 
Cadastrar Categoria
{% endblock %}

{% block content %}
<div class="container mt-4">

  {% if messages %}
    {% for m in messages %}
      <div class="alert alert-success" role="alert">
          {{ m }}
      </div>
    {% endfor %}
  {% endif %}

{% if user.is_superuser %}
  <div class="row">
    {% if request.resolver_match.url_name == 'Categoria_update' %}
    <div class="col-md-12">
      {% else %}
      <div class="col-md-8">
        {% endif %}
        {% if request.resolver_match.url_name == 'Categoria_update' %}
        <h2 class="mb-5">Editar Categoria</h2>
      {% else %}
        <h2 class="mb-5">Cadastrar Nova Categoria</h2>
      {% endif %}

      <form action="#" method="post" class="needs-validation"  novalidate>
          {% csrf_token %}

          <div class="mb-3">
              {% if request.resolver_match.url_name == 'Categoria_update' %}
                <label for="{{ formCat.categoria.id_for_label }}" class="form-label required">Categoria:</label>
              {% else %}
                <label for="{{ formCat.categoria.id_for_label }}" class="form-label required">Nova Categoria:</label>
              {% endif %}
              {{ formCat.categoria }}
              <span class="errors">
                  {{ formCat.categoria.errors }}
              </span>
          </div>


          {% if request.resolver_match.url_name == 'Categoria_update' %}
            <a href="{% url 'Categoria_read' slug=update_categoria.slug %}" class="btn btn-danger float-end">Cancelar</a>
            <button type="submit" class="btn btn-success float-end">Salvar</button>
          {% else %}
            <a href="{% url 'estoque' %}" class="btn btn-danger float-end">Cancelar</a>
            <button type="submit" class="btn btn-success float-end" style="margin-right: 20px;">Cadastrar</button>
          {% endif %}
      </form>
    </div>

    {% if not request.resolver_match.url_name == 'Categoria_update' %}
    <div class="col-md-4">
      <div class="container mt-5 aside">
        <h3 class="my-3">Categorias Existentes:</h3>
        {% if categorias %}
        {% for cat in categorias %}
          <a class="btn btn-info mb-2" href="{% url 'Categoria_read' slug=cat.slug %}">{{ cat.categoria }}</a>
        {% endfor %}
        {% else %}
        <p>Nenhuma Categoria encontrada.</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
{% else %}
    {% if not request.resolver_match.url_name == 'Categoria_update' %}
    <div class="col-md-4">
      <div class="container mt-5">
        <h3>Categorias Existentes:</h3>
        {% for cat in categorias %}
          <a class="btn btn-info mb-2" href="{% url 'Categoria_read' slug=cat.slug %}">{{ cat.categoria }}</a>
        {% endfor %}
      </div>
    </div>
    {% endif %}
</div>
{% endif %}
{% endblock %}
