{% extends 'home.html' %}
{% load static %}

{% block title %} 
<title>Cadastrar Contribuidor</title> 
{% endblock %}

{% block content %}

{% if user.username == 'admin' %}
<div class="container mt-5">
    <h2 class="mb-5">Cadastrar Contribuidor</h2>

    <form action="#" method="post" class="needs-validation" novalidate>
        {% csrf_token %}

        <div class="mb-3">
            <label for="{{ formCon.contribuidor.id_for_label }}" class="form-label required">Novo Contribuidor:</label>
            {{ formCon.contribuidor }}
        </div>

        <div class="mb-3">
            <label for="{{ formCon.tipocontribuidor.id_for_label }}" class="form-label required">Tipo de Contribuidor:</label>
            {{ formCon.tipocontribuidor }}
        </div>

        <div class="mb-3">
            <label for="{{ formCon.tempo.id_for_label }}" class="form-label required">Tempo de Contribuição:</label>
            {{ formCon.tempo }}
        </div>

        <div class="mb-3">
            <label for="{{ formCon.observacoes.id_for_label }}" class="form-label">Observações:</label>
            {{ formCon.observacoes }}
        </div>

        <button type="submit" class="btn btn-success float-end">Cadastrar</button>
    </form>
</div>
{% else %}
{{ user }} NÃO TEM PERMISSÃO PARA CADASTRAR UMA NOVO CONTRIBUIDOR :&#41; <br>
{% endif %}

{% endblock %}