{% extends 'home.html' %}
{% load static %}

{% block title %} 
<title>Cadastrar Produto</title> 
{% endblock %}

{% block content %}
<div class="container mt-5">

  {% if messages %}
    {% for m in messages %}
      <div class="alert alert-success" role="alert">
          {{ m }}
      </div>
    {% endfor %}
  {% endif %}

  <div class="row">
    {% if request.resolver_match.url_name == 'Produto_update' %}
    <div class="col-md-12">
    {% else %}
    <div class="col-md-8">
    {% endif %}
    
      {% if request.resolver_match.url_name == 'Produto_update' %}
        <h2 class="mb-5">Editar Produto</h2>
      {% else %}
        <h2 class="mb-5">Cadastrar Novo Produto</h2>
      {% endif %}
      <form class="row g-3" method="post" enctype="multipart/form-data"> 
        {% csrf_token %}
        {{ formPro.user }}
        
        
          <div class="col-md-6">
              <label for="" class="form-label required">Novo Produto:</label>
              {{ formPro.produto }}
              <span class="errors">{{ formPro.produto.errors }}</span>
          </div>
          <div class="col-md-6">
              <label for="" class="form-label required">Código de Barras:</label>
              {{ formPro.codigo }}
              <span class="errors">{{ formPro.codigo.errors }}</span>
          </div>
          <div class="col-md-6">
            <label for="" class="form-label outline-success required">Categoria:</label>
            {{ formPro.categoria }}
            <span class="errors">{{ formPro.categoria.errors }}</span>
          </div>
          <div class="col-md-6">
              <label for="" class="form-label required">Contribuidor:</label>
              {{ formPro.contribuidor }}
              <span class="errors">{{ formPro.contribuidor.errors }}</span>
          </div>
          <div class="col-md-6">
              <label for="" class="form-label">Quantidade Inicial:</label>
              {{ formPro.estoque }}
          </div>
          <div class="col-md-6">
              <label for="" class="form-label required">Data de Vencimento:</label>
              {{ formPro.validade }}
              <span class="errors">{{ formPro.validade.errors }}</span>
          </div>
          <div class="col-12">
            
            {% if request.resolver_match.url_name == 'Produto_update' %}
              <a href="{% url 'Produto_read' slug=update_produto.slug %}" class="btn btn-danger float-end">Cancelar</a>
              <input type="submit" class="btn btn-success float-end" value="Salvar">
            {% else %}
              <a href="{% url 'produtos' %}" class="btn btn-danger float-end">Cancelar</a>
              <input type="submit" class="btn btn-success float-end" style="margin-right: 20px;" value="Cadastrar">
            {% endif %}
          </div>
      </form>
    </div>

    {% if not request.resolver_match.url_name == 'Produto_update' %}
    <div class="col-md-4">
      <div class="container mt-5 aside">
        <h3 class="my-3">Produtos Existentes:</h3>
        {% if produtos %}
        {% for p in produtos %}
          <a class="btn btn-info mb-2 {% if p in venceu %} btn-danger {% elif p in prazo %} btn-warning {% endif %}" title="{{ p.produto }} - {{ p.contribuidor }}" href="{% url 'Produto_read' slug=p.slug %}">{{ p.produto }}</a>
        {% endfor %}
        {% else %}
          <p>Nenhum Produto encontrado.</p>
        {% endif %}
      </div>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
