{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Estoque</title>
{% endblock %}

{% block content %}

<div class="container mt-5">
  <h2 class="mb-5">Lista de Estoque</h2>

  {% if messages %}
  <div class="alert alert-success" role="alert">
    {% for m in messages %}
      {{ m }}
    {% endfor %}
  </div>
  {% endif %}

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Produto</th>
          <th scope="col">Estoque</th>
          <th scope="col">Validade</th>
          <th scope="col">Contribuidor</th>
        </tr>
      </thead>
      <tbody>
        {% for p in estoque %}
          <tr>
            <td>{{ p.categoria }}</td>
            <td><a href="{% url 'produto_read' id=p.id %}">{{ p.produto }}</a></td>
            <td>{{ p.qtd }}</td>
            <td>{{ p.validade }}</td>
            <td>{{ p.contribuidor }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}