{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Movimentação dos Produtos</title>
{% endblock %}

{% block content %}

<div class="container mt-5">
  <h2 class="mb-5">Lista de Movimentações</h2>

  <form action="{% url 'Movimento_list' %}" method="GET">
    <input class="form-control mb-4" type="text" name="busca" placeholder="Digite o nome do Produto">

    <div class="d-flex justify-content-end mb-4">
      <a class="btn btn-success"style="margin-right: 20px;" href="{% url 'Movimento_list' %}">Limpar Busca</a>
      <input class="btn btn-success" type="submit" value="Buscar">
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover border-dark">
      <thead id="customTableHead" class="thead-dark table-custom">
        <tr>
          <th scope="col">Produto</th>
          <th scope="col">Entradas</th>
          <th scope="col">Saidas</th>
          <th scope="col">Modificado</th>
        </tr>
      </thead>
      <tbody>
        {% if movimentos %}
          {% for m in movimentos %}
            <tr class="table-light border-dark custom-links">
              <td>{{ m.produto }}</td>
              <td>{{ m.tipo }}</td>
              <td>{{ m.quantidade }}</td>
              <td>{{ m.modificado }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center p-5" colspan="5">Sem resultados encontrados :C</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
