{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Contribuidores</title>
{% endblock %}

{% block content %}

<div class="container mt-5 ">
  <h2 class="mb-5">Lista de Contribuidores</h2>
  <a href="{% url 'FornercedorForm' %}" class="btn btn-success mb-4">Adicionar Contribuidor</a>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover border-dark">
      <thead id="customTableHead" class="thead-dark">
        <tr>
          <th scope="col">Contribuidor</th>
          <th scope="col">Tipo</th>
          <th scope="col">Tempo</th>
        </tr>
      </thead>
      <tbody>
        {% for c in contribuidor %}
          <tr class="table-secondary border-dark">
            <td>{{ c.contribuidor }}</td>
            <td>{{ c.tipocontribuidor }}</td>
            <td>{{ c.tempo }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
