{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Movimentação dos Produtos</title>
{% endblock %}

{% block content %}

<div class="container mt-5">


    
  {% if messages %}
  {% for m in messages %}
  <div class="alert alert-success" role="alert">
      {{ m }}
    </div>
    {% endfor %}
  {% endif %}

  
  <h2 class="mb-5">Lista de Movimentações</h2>

  <form action="{% url 'Movimento_list' %}" method="GET">
    <select name="tipo" class="form-select mb-4">
      <option value="">Todos</option>
      <option value="Entrada">Entradas</option>
      <option value="Saída">Saídas</option>
    </select>

    <div class="d-flex justify-content-end mb-4">
      <a class="btn btn-success"style="margin-right: 20px;" href="{% url 'Movimento_list' %}">Limpar Busca</a>
      <input class="btn btn-success" type="submit" value="Buscar">
    </div>
  </form>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover border-dark">
      <thead id="customTableHead" class="thead-dark table-custom">
        <tr>
          <th scope="col">Produto</th>
            <th scope="col" >Tipo</th>
            <th scope="col">Quantidade</th>
            <th scope="col">Modificado</th>
        </tr>
      </thead>
      <tbody>
        {% if movimentos %}
          {% for movimento in movimentos %}
            <tr class="table-light border-dark custom-links">
              <td><a href="{% url 'Produto_read' id=movimento.produto.id %}">{{ movimento.produto }}</a></td>
              <td>
                
                {% if movimento.tipo == 'Entrada' %}
                  <i class="fa-solid fa-up-long" style="color: #0f0; padding: 0 5px;"></i>
                  {{ movimento.tipo }}
                {% elif movimento.tipo == 'Saída' %}
                  <i class="fa-solid fa-down-long" style="color: #f00; padding: 0 5px;"></i>
                  {{ movimento.tipo }}
                {% endif %}
              
              </td>
              <td>{{ movimento.quantidade }}</td>
              <td>{{ movimento.modificado }}, por: {{ movimento.user }}</td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td class="text-center p-5" colspan="5">Sem resultados encontrados :C</td>
          </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
