{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Contribuidores</title>
{% endblock %}

{% block content %}

<div class="container mt-5 ">
  <h2 class="mb-5">Lista de Contribuidores</h2>
  
  {% if user.username == 'admin' %}
  <a class="btn btn-success mb-4"  href="{% url 'ContribuidorForm' %}">Adicionar Novo Contribuidor</a>
  {% else %}
  {% endif %}

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover border-dark">
      <thead id="customTableHead" class="thead-dark">
        <tr>
          <th scope="col">Contribuidor</th>
          <th scope="col">Tipo</th>
          <th scope="col">Tempo</th>
        </tr>
      </thead>
      <tbody>
        {% for c in contribuidores %}
          <tr class="table-secondary border-dark">
            <td><a href="{% url 'Contribuidor_read' id=c.id %}">{{ c.contribuidor }}</a></td>
            <td>{{ c.tipocontribuidor }}</td>
            <td>{{ c.tempo }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock %}
