{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Estoque</title>
{% endblock %}

{% block content %}

<div class="container mt-5">
  <h2 class="mb-5">Lista de Estoque</h2>

  {% if messages %}
  {% for m in messages %}
  <div class="alert alert-success" role="alert">
      {{ m }}
    </div>
    {% endfor %}
  {% endif %}

<form action="{% url 'estoque' %}" method="GET">
    <input class="form-control mb-4" type="text" name="busca" placeholder="Digite o nome do Produto">

    <select class="form-select mb-4" name="categoria">
        <option value="" selected>Qualquer Categoria</option>
        {% for cat in categorias %}
            <option value="{{ cat.id }}">{{ cat.categoria }}</option>
        {% endfor %}
    </select>

    <select class="form-select mb-4" name="contribuidor">
        <option value="" selected>Qualquer Contribuidor</option>
        {% for con in contribuidores %}
            <option value="{{ con.id }}">{{ con.contribuidor }}</option>
        {% endfor %}
    </select>

    <input class="btn btn-success" type="submit" value="Buscar">
    <a class="btn btn-success" href="{% url 'estoque' %}">Limpar Busca</a>
</form>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover border-dark">
      <thead id="customTableHead" class="thead-dark table-custom">
        <tr>
          <th scope="col">Categoria</th>
          <th scope="col">Produto</th>
          <th scope="col">Estoque</th>
          <th scope="col">Contribuidor</th>
        </tr>
      </thead>
      <tbody>
        {% if produtos %}
        {% for p in produtos %}
        
          <tr class="table-light border-dark custom-links">
            <td><a href="{% url 'Categoria_read' id=p.categoria.id %}" class="specific-link">{{ p.categoria }}</a></td>
            <td><a href="{% url 'Produto_read' id=p.id %}" class="specific-link">{{ p.produto }}</a></td>
            <td>{{ p.estoque }}</td>
            <td><a href="{% url 'Contribuidor_read' id=p.contribuidor.id %}" class="specific-link">{{ p.contribuidor }}</a></td>
          </tr>

          {% endfor %}
          {% else %}

          <tr>
            <td class="text-center p-5" colspan="5">Sem resultados encontrados :C</td>
          </tr>

          {% endif %}
      </tbody>
    </table>
  </div>
  </div>

{% endblock %}
