{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Informações do Contribuidor: {{ readCon.produto }}</title>
{% endblock %}

{% block content %}

{{ readCon.contribuidor }}
{{ readCon.tipocontribuidor|safe }}
{{ readCon.tempo }}
{{ readCon.observacoes }}

<h2>
</h2>

<div class="container mt-5">
    <h2 class="mb-5">Produtos 
        {% if readCon.tipocontribuidor == 'Doador' %}
        Doados
        {% elif readCon.tipocontribuidor == 'Fornecedor' %}
        Fornecidos
        {% else %}
        {% endif %}
        de {{ readCon.contribuidor }}</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
            <tr>
                <th scope="col">Categoria</th>
                <th scope="col">Produto</th>
                <th scope="col">Quantidade Total</th>
            </tr>
        </thead>
        <tbody>
            {% for p in readCon.produto_set.all %}
            
            <tr>
                <td><a href="{% url 'Category_read' id=p.categoria.id %}">{{ p.categoria }}</a></td>
                <td><a href="{% url 'Produto_read' id=p.id %}">{{ p.produto }}</a></td>
                <td>{{ p.qtd }}</td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
</div>

{% endblock %}