{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Informações do Produto: {{ readPro.produto }}</title>
{% endblock %}

{% block content %}

<div class="container mt-5">
  <h2 class="mb-4">Detalhes do Produto</h2>


    
  {% if messages %}
  {% for m in messages %}
  <div class="alert alert-success" role="alert">
      {{ m }}
    </div>
    {% endfor %}
  {% endif %}

  
  <div class="card">
    <div class="card-body">
      <h3 class="card-title mb-4 {% if notifica %} prazo {% endif %}">{{ readPro.produto }}</h3>
      <p class="card-text"><strong>Adicionado por:</strong> {{ readPro.user }}</p>
      <p class="card-text"><strong>Categoria:</strong> {{ readPro.categoria }}</p>
      <p class="card-text"><strong>Contribuidor:</strong> {{ readPro.contribuidor }}</p>
      <p class="card-text"><strong>Estoque Atual:</strong> {{ readPro.estoque }}</p>
      <p class="card-text"><strong>Código de Barras:</strong> {{ readPro.codigo }}</p>
      <p class="card-text"><strong>Validade:</strong> <span class=" {% if readPro in notifica %} prazo {% endif %}">{{ readPro.validade }}</span></p>
      <p class="card-text"><strong>Tempo para o Vencimento:</strong> 
      <span class=" {% if readPro in notifica %} prazo {% endif %}">

      <!-- Se tiver Anos, Meses ou Dias Maiores que Zero -->
      {% if validade_dias.0 or validade_dias.1 or validade_dias.2 > 0 %}

        <!-- Se tiver Ano -->
        {% if validade_dias.0 %}
          {{ validade_dias.0 }} {% if validade_dias.0 == 1 %}Ano{% else %}Anos{% endif %}
        {% endif %}

        <!-- Se tiver Mês -->
        {% if validade_dias.1 %}
          {{ validade_dias.1 }} {% if validade_dias.1 == 1 %}Mês{% else %}Meses{% endif %}
        {% endif %}

        <!-- Se tiver Ano ou Mês em Dias -->
        {% if validade_dias.0 or validade_dias.1 %}

          <!-- Se houver -->
          {% if validade_dias.2 %}
            e {{ validade_dias.2 }} {% if validade_dias.2 == 1 %}Dia{% else %}Dias{% endif %}.
          {% endif %}

        {% else %}

          <!-- Se não houver -->
          {% if validade_dias.2 %}
            {{ validade_dias.2 }} {% if validade_dias.2 == 1 %}Dia{% else %}Dias{% endif %}.
          {% endif %}
        {% endif %}
      
      <!-- Se tiver Anos, Meses ou Dias Menores que Zero -->
      {% elif validade_dias.0 or validade_dias.1 or validade_dias.2 < 0 %}
        Venceu há
        <!-- Se tiver Ano -->
        {% if validade_dias.0 %}
          {{ validade_dias.0 }} {% if validade_dias.0 == 1 %}Ano{% else %}Anos{% endif %}
        {% endif %}

        <!-- Se tiver Mês -->
        {% if validade_dias.1 %}
          {{ validade_dias.1 }} {% if validade_dias.1 == 1 %}Mês{% else %}Meses{% endif %}
        {% endif %}

        <!-- Se tiver Ano ou Mês em Dias -->
        {% if validade_dias.0 or validade_dias.1 %}

          <!-- Se houver -->
          {% if validade_dias.2 %}
            e {{ validade_dias.2 }} {% if validade_dias.2 == -1 %}Dia{% else %}Dias{% endif %}.
          {% endif %}

        {% else %}

          <!-- Se não houver e dia for maior que Zero -->
          {% if validade_dias.2 %}
            {{ validade_dias.2 }} {% if validade_dias.2 == -1 %}Dia{% else %}Dias{% endif %}.
          {% endif %}
        {% endif %}

      {% else %}
        Vence hoje!
      {% endif %}
        


      </span>
    </p>

      <a href="{% url 'Produto_update' slug=readPro.slug %}" class="btn btn-success">Editar Produto</a>
      <a href="{% url 'Produto_delete' slug=readPro.slug %}" class="btn btn-danger">Excluir Produto</a>
      <a href="{% url 'Movimento_produto' slug=readPro.slug %}" class="btn btn-warning">Movimentar Produto</a>
    </div>
  </div>
</div>

<div class="container mt-5">
  <h2 class="mb-4">Movimentações do Produto: {{ readPro.produto }} </h2>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover border-dark">
        <thead id="customTableHead" class="thead-dark">
            <tr>
              <th scope="col">Usuário</th>
              <th scope="col">Entradas</th>
              <th scope="col">Saídas</th>
              <th scope="col">Modificado</th>
            </tr>
        </thead>
        <tbody>
          <!-- if not readPro.movimento_set.all - Fazendo diretamento na view usando o filtro -->
          {% if not movimentos %}
          <tr>
              <td colspan="5" class="text-center p-5">Sem Movimentações no momento :C</td>
          </tr>
          
          {% else %}

            {% for m in movimentos %}
            <tr class="table-light border-dark custom-links">
                <td>{{ m.user }}</td>
                <td>
                  {% if m.tipo == 'Entrada' %}
                    {{ m.quantidade }}
                  {% else %}
                    0
                  {% endif %}
                </td>
                <td>
                  {% if m.tipo == 'Saída' %}
                    {{ m.quantidade }}
                  {% else %}
                    0
                  {% endif %}
                </td>
                <td>{{ m.modificado }}</td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
    </table>


    <div class="pagination">
      <span class="step-links">
          {% if movimentos.has_previous %}
              <a href="?page=1{% if movimentos.filter_params %}&{{ movimentos.filter_params }}{% endif %}" class="btn btn-success">Primeira</a>
              <a href="?page={{ movimentos.previous_page_number }}{% if movimentos.filter_params %}&{{ movimentos.filter_params }}{% endif %}" class="btn btn-success">Anterior</a>
          {% endif %}
  
          <span class="current">
              Página {{ movimentos.number }} de {{ movimentos.paginator.num_pages }}.
          </span>
  
          {% if movimentos.has_next %}
              <a href="?page={{ movimentos.next_page_number }}{% if movimentos.filter_params %}&{{ movimentos.filter_params }}{% endif %}" class="btn btn-success">Próxima</a>
              <a href="?page={{ movimentos.paginator.num_pages }}{% if movimentos.filter_params %}&{{ movimentos.filter_params }}{% endif %}" class="btn btn-success">Última</a>
          {% endif %}
      </span>
    </div>



  </div>
</div>


{% endblock %}
