{% extends 'home.html' %}
{% load static %}

{% block title %}
Categoria de Produto: {{ readCat.categoria }}
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2 class="mb-2">Produtos Relacionados a {{ readCat.categoria }}</h2>


    
    {% if messages %}
    {% for m in messages %}
    <div class="alert alert-success" role="alert">
        {{ m }}
      </div>
      {% endfor %}
    {% endif %}
  
    
    {% if user.is_superuser %}
    <a href="{% url 'Categoria_update' slug=readCat.slug %}" class="btn btn-success mb-3">Editar Nome da Categoria</a>
    <button onclick="togglePopup('categoria')" class="btn btn-danger mb-4">Excluir Categoria</button>
    
    <div class="delete">
        <h4>Tem certeza que Deseja Excluir esta Categoria?</h4>
          <p>
              Os <strong>Produtos</strong> relacionados a ela também serão excluídos!
          </p>
        <a class="btn btn-danger" href="{% url 'Categoria_delete' slug=readCat.slug %}">Sim</a>
        <a class="btn btn-success float-end" href="{% url 'Categoria_read' slug=readCat.slug %}">Cancelar</a>
        
      </div>
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover border-dark">
            <thead id="customTableHead" class="thead-dark">
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Contribuidor</th>
                    <th scope="col">Adionador</th>
                </tr>
            </thead>
            <tbody>
                {% if not produtos_list %}
                <tr>
                    <td colspan="5" class="text-center p-5">Sem registros no momento :C</td>
                </tr>
                
                {% else %}
                {% for p in produtos_list %}
                <tr class="table-light border-dark custom-links">
                    <td><a href="{% url 'Produto_read' slug=p.slug %}" class="specific-link {% if p in notifica %} prazo {% endif %}">{{ p.produto }}</a></td>
                    <td><a href="{% url 'Contribuidor_read' slug=p.contribuidor.slug %}" class="specific-link">{{ p.contribuidor }}</a></td>
                    <td>{{ p.user.first_name }}</td>
                </tr>
                {% endfor %}
                {% endif %}
            </tbody>
        </table>


        <div class="pagination">
          <span class="step-links">
              {% if produtos_list.has_previous %}
                  <a href="?page=1{% if produtos_list.filter_params %}&{{ produtos_list.filter_params }}{% endif %}" class="btn btn-success">Primeira</a>
                  <a href="?page={{ produtos_list.previous_page_number }}{% if produtos_list.filter_params %}&{{ produtos_list.filter_params }}{% endif %}" class="btn btn-success">Anterior</a>
              {% endif %}
      
              <span class="current">
                  Página {{ produtos_list.number }} de {{ produtos_list.paginator.num_pages }}.
              </span>
      
              {% if produtos_list.has_next %}
                  <a href="?page={{ produtos_list.next_page_number }}{% if produtos_list.filter_params %}&{{ produtos_list.filter_params }}{% endif %}" class="btn btn-success">Próxima</a>
                  <a href="?page={{ produtos_list.paginator.num_pages }}{% if produtos_list.filter_params %}&{{ produtos_list.filter_params }}{% endif %}" class="btn btn-success">Última</a>
              {% endif %}
          </span>
        </div>
    
    
    
    </div>
</div>

{% endblock %}