{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Informações do Produto: {{ readPro.produto }}</title>
{% endblock %}

{% block content %}

<div class="container mt-5">
  <h2 class="mb-4">Detalhes do Produto</h2>


    
  {% if messages %}
  {% for m in messages %}
  <div class="alert alert-success" role="alert">
      {{ m }}
    </div>
    {% endfor %}
  {% endif %}

  

  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4">{{ readPro.produto }}</h4>
      <p class="card-text"><strong>Adicionado por:</strong> {{ readPro.user }}</p>
      <p class="card-text"><strong>Categoria:</strong> {{ readPro.categoria }}</p>
      <p class="card-text"><strong>Contribuidor:</strong> {{ readPro.contribuidor }}</p>
      <p class="card-text"><strong>Estoque Atual:</strong> {{ readPro.estoque }}</p>
      <p class="card-text"><strong>Código de Barras:</strong> {{ readPro.codigo }}</p>
      <p class="card-text"><strong>Validade:</strong> {{ readPro.validade }}</p>

      <a href="{% url 'Produto_update' id=readPro.id %}" class="btn btn-success">Editar Produto</a>
      <a href="{% url 'Produto_delete' id=readPro.id %}" class="btn btn-danger">Excluir Produto</a>
      <a href="{% url 'Movimento_produto' id=readPro.id %}" class="btn btn-warning">Movimentar Produto</a>
      <!-- <a href="{% url 'Movimento_produto' id=readPro.id %}" class="btn btn-warning">Saída Produto</a> -->
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-hover border-dark">
        <thead id="customTableHead" class="thead-dark">
            <tr>
              <th scope="col">Adionador</th>
              <th scope="col">Entradas</th>
              <th scope="col">Saídas</th>
              <th scope="col">Modificado</th>
            </tr>
        </thead>
        <tbody>
          {% if not readPro.movimento_set.all %}
          <tr>
              <td colspan="5" class="text-center p-5">Sem registros no momento :C</td>
          </tr>
          
          {% else %}

            {% for m in readPro.movimento_set.all %}
            <tr class="table-light border-dark custom-links">
                <td>{{ m.user }}</td>
                <td>
                  {% if m.tipo == 'Entrada' %}
                    {{ m.quantidade }}
                  {% else %}
                    0
                  {% endif %}
                </td>
                <td>
                  {% if m.tipo == 'Saída' %}
                    {{ m.quantidade }}
                  {% else %}
                    0
                  {% endif %}
                </td>
                <td>{{ m.modificado }}</td>
            </tr>
            {% endfor %}
          {% endif %}
        </tbody>
    </table>
  </div>
</div>


{% endblock %}
