{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Informações do Contribuidor: {{ readCon.contribuidor }}</title>
{% endblock %}

{% block content %}

<div class="container mt-5">
  <h2 class="mb-4">Detalhes do Contribuidor</h2>


  {% if messages %}
  <div class="alert alert-success" role="alert">
    {% for m in messages %}
      {{ m }}
    {% endfor %}
  </div>
  {% endif %}


  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4">{{ readCon.contribuidor }}</h4>
      <p class="card-text"><strong>Tipo de Contribuidor:</strong> {{ readCon.tipocontribuidor }}</p>
      <p class="card-text"><strong>Quantidade de Produtos:</strong> {{ quantidade_produtos }}</p>
      <p class="card-text"><strong>Desde:</strong> {{ readCon.tempo }}</p>
      <p class="card-text"><strong>Tempo de Contribuição:</strong>

        {% if dias_contribuicao.0 or dias_contribuicao.1 or dias_contribuicao.2 %}

          {% if dias_contribuicao.0 %}
            {{ dias_contribuicao.0 }} {% if dias_contribuicao.0 == 1 %}Ano{% else %}Anos{% endif %}
          {% endif %}

          {% if dias_contribuicao.1 %}
            {{ dias_contribuicao.1 }} {% if dias_contribuicao.1 == 1 %}Mês{% else %}Meses{% endif %}
          {% endif %}

          {% if dias_contribuicao.2 %}

            {% if dias_contribuicao.0 or dias_contribuicao.1 %}
              e {{ dias_contribuicao.2 }} {% if dias_contribuicao.2 == 1 %}Dia{% else %}Dias{% endif %}.
            {% else %}
              {{ dias_contribuicao.2 }} {% if dias_contribuicao.2 == 1 %}Dia{% else %}Dias{% endif %}.
            {% endif %}
            
          {% endif %}

        {% else %}
          A partir de hoje, Bem vindo!
        {% endif %}




      </p>
      <p class="card-text"><strong>Observações:</strong> {{ readCon.observacoes }}</p>

      {% if user.username == 'admin' %}
      <a href="{% url 'Contribuidor_update' slug=readCon.slug %}" class="btn btn-success mb-3">Editar Contribuidor</a>
      <button onclick="togglePopup('contribuidor')" class="btn btn-danger mb-3">Excluir Contribuidor</button>
      
      <div class="delete">
          <h4>Tem certeza que Deseja Excluir este Contribuidor?</h4>
            <p>
                Os <strong>Produtos</strong> relacionados a ele também serão excluídos!
            </p>
          <a class="btn btn-danger" href="{% url 'Contribuidor_delete' slug=readCon.slug %}">Sim</a>
          <a class="btn btn-success float-end" href="{% url 'Contribuidor_read' slug=readCon.slug %}">Cancelar</a>
        </div>
      {% endif %}
    </div>
  </div>
</div>

<div class="container mt-5">
  
    <h2 class="mb-5">Produtos 
        {% if readCon.tipocontribuidor == 'Doador' %}
        Doados
        {% elif readCon.tipocontribuidor == 'Fornecedor' %}
        Fornecidos
        {% else %}
        {% endif %}
        de {{ readCon.contribuidor }}</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover border-dark">
            <thead id="customTableHead" class="thead-dark">
            <tr>
                <th scope="col">Categoria</th>
                <th scope="col">Produto</th>
                <th scope="col">Em Estoque</th>

                <!-- Lembrar de fazer a quantidade total doado dos produtos por contribuidor -->
                <!-- <th scope="col">Quantidade Total
                    {% if readCon.tipocontribuidor == 'Doador' %}
                    Doada
                    {% elif readCon.tipocontribuidor == 'Fornecedor' %}
                    Fornecida
                    {% else %}
                    {% endif %}
                </th> -->
            </tr>
        </thead>
        <tbody>
            {% if not produtos_list %}
            <tr>
                <td colspan="5" class="text-center p-5">Sem registros no momento :C</td>
            </tr>
            
            {% else %}
            {% for p in produtos_list %}

            <tr class="table-light border-dark custom-links">
                <td><a href="{% url 'Categoria_read' slug=p.categoria.slug %}" class="specific-link">{{ p.categoria }}</a></td>
                <td><a href="{% url 'Produto_read' slug=p.slug %}" class="specific-link {% if p in notifica %} prazo {% endif %}">{{ p.produto }}</a></td>
                <td>{{ p.estoque }}</td>
            </tr>
            
            {% endfor %}
            {% endif %}
        </tbody>
        </table>


        <div class="pagination">
          <span class="step-links">
              {% if produtos_list.has_previous %}
                  <a href="?page=1{% if produtos_list.filter_params %}&{{ produtos_list.filter_params }}{% endif %}" class="btn btn-success">Primeira</a>
                  <a href="?page={{ produtos_list.previous_page_number }}{% if produtos_list.filter_params %}&{{ produtos_list.filter_params }}{% endif %}" class="btn btn-success">Anterior</a>
              {% endif %}
      
              <span class="current">
                  Página {{ produtos_list.number }} de {{ produtos_list.paginator.num_pages }}.
              </span>
      
              {% if produtos_list.has_next %}
                  <a href="?page={{ produtos_list.next_page_number }}{% if produtos_list.filter_params %}&{{ produtos_list.filter_params }}{% endif %}" class="btn btn-success">Próxima</a>
                  <a href="?page={{ produtos_list.paginator.num_pages }}{% if produtos_list.filter_params %}&{{ produtos_list.filter_params }}{% endif %}" class="btn btn-success">Última</a>
              {% endif %}
          </span>
        </div>
    
    
    
    </div>
</div>

{% endblock %}