{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Categoria de Produto: {{ readCat.categoria }}</title>
{% endblock %}


{% block content %}
<div class="container mt-5">
    <h2 class="mb-2">Produtos Relacionados a {{ readCat.categoria }}</h2>


    
    {% if messages %}
    {% for m in messages %}
    <div class="alert alert-success" role="alert">
        {{ m }}
      </div>
      {% endfor %}
    {% endif %}
  
    
    {% if user.username == 'admin' %}
    <a href="{% url 'Categoria_update' id=readCat.id %}" class="btn btn-success mb-4">Editar Nome da Categoria</a>
    <a href="{% url 'Categoria_delete' id=readCat.id %}" class="btn btn-danger mb-4">Excluir Categoria</a>
    {% else %}
    {% endif %}

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover border-dark">
            <thead id="customTableHead" class="thead-dark">
                <tr>
                    <th scope="col">Produto</th>
                    <th scope="col">Contribuidor</th>
                    <th scope="col">Adionador</th>
                </tr>
            </thead>
            <tbody>
                {% for p in readCat.produto_set.all %}
                <tr class="table-light border-dark custom-links">
                    <td><a href="{% url 'Produto_read' id=p.id %}" class="specific-link">{{ p.produto }}</a></td>
                    <td><a href="{% url 'Contribuidor_read' id=p.contribuidor.id %}" class="specific-link">{{ p.contribuidor }}</a></td>
                    <td>{{ p.user }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}