{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Informações do Produto: {{ readPro.produto }}</title>
{% endblock %}

{% block content %}

{% if messages %}
<div class="alert alert-success" role="alert">
  {% for m in messages %}
    {{ m }}
  {% endfor %}
</div>
{% endif %}

<div class="container mt-5">
  <h2 class="mb-4">Detalhes do Produto</h2>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4">{{ readPro.produto }}</h4>
      <p class="card-text"><strong>Categoria:</strong> {{ readPro.categoria }}</p>
      <p class="card-text"><strong>Contribuidor:</strong> {{ readPro.contribuidor }}</p>
      <p class="card-text"><strong>Estoque:</strong> {{ readPro.estoque }}</p>
      <p class="card-text"><strong>Validade:</strong> {{ readPro.validade }}</p>
      <p class="card-text"><strong>Entrada:</strong> {{ readPro.entrada }}</p>
      <p class="card-text"><strong>Usuário:</strong> {{ readPro.user }}</p>

      <a href="{% url 'Produto_update' id=readPro.id %}" class="btn btn-success">Editar Produto</a>
      <a href="{% url 'Produto_delete' id=readPro.id %}" class="btn btn-danger">Excluir Produto</a>
      <a href="{% url 'Movimento_produto' id=readPro.id %}" class="btn btn-warning">Movimentar Produto</a>
      <!-- <a href="{% url 'Movimento_produto' id=readPro.id %}" class="btn btn-warning">Saída Produto</a> -->
    </div>
  </div>
</div>

{% endblock %}
