{% extends 'home.html' %}
{% load static %}

{% block title %}
<title>Informações do Contribuidor: {{ readCon.contribuidor }}</title>
{% endblock %}

{% block content %}

{% if messages %}
<div class="alert alert-success" role="alert">
  {% for m in messages %}
    {{ m }}
  {% endfor %}
</div>
{% endif %}

<div class="container mt-5">
  <h2 class="mb-4">Detalhes do Contribuidor</h2>

  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4">{{ readCon.contribuidor }}</h4>
      <p class="card-text"><strong>Tipo de Contribuidor:</strong> {{ readCon.tipocontribuidor|safe }}</p>
      <p class="card-text"><strong>Data de Início:</strong> {{ readCon.tempo }}</p>
      <p class="card-text"><strong>Observações:</strong> {{ readCon.observacoes }}</p>

      {% if user.username == 'admin' %}
      <a href="{% url 'Contribuidor_update' id=readCon.id %}" class="btn btn-success">Editar Contribuidor</a>
      <a href="{% url 'Contribuidor_delete' id=readCon.id %}" class="btn btn-danger">Excluir Contribuidor</a>
      {% endif %}
    </div>
  </div>
</div>

<div class="container mt-5">
    
  {% if messages %}
  <div class="alert alert-success" role="alert">
    {% for m in messages %}
      {{ m }}
    {% endfor %}
  </div>
  {% endif %}
    <h2 class="mb-5">Produtos 
        {% if readCon.tipocontribuidor == 'Doador' %}
        Doados
        {% elif readCon.tipocontribuidor == 'Fornecedor' %}
        Fornecidos
        {% else %}
        {% endif %}
        de {{ readCon.contribuidor }}</h2>

    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover border-dark">
            <thead id="customTableHead" class="thead-dark">
            <tr>
                <th scope="col">Categoria</th>
                <th scope="col">Produto</th>
                <th scope="col">Em Estoque</th>

                <!-- Lembrar de fazer a quantidade total doado dos produtos por contribuidor -->
                <!-- <th scope="col">Quantidade Total
                    {% if readCon.tipocontribuidor == 'Doador' %}
                    Doada
                    {% elif readCon.tipocontribuidor == 'Fornecedor' %}
                    Fornecida
                    {% else %}
                    {% endif %}
                </th> -->
            </tr>
        </thead>
        <tbody>
            {% if not readCon.produto_set.all %}
            <tr>
                <td colspan="5" class="text-center p-5">Sem registros no momento :C</td>
            </tr>
            
            {% else %}
            {% for p in readCon.produto_set.all %}

            <tr class="table-light border-dark custom-links">
                <td><a href="{% url 'Categoria_read' id=p.categoria.id %}" class="specific-link">{{ p.categoria }}</a></td>
                <td><a href="{% url 'Produto_read' id=p.id %}" class="specific-link">{{ p.produto }}</a></td>
                <td>{{ p.estoque }}</td>
            </tr>
            
            {% endfor %}
            {% endif %}
        </tbody>
        </table>
    </div>
</div>

{% endblock %}